<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPointLabel">Create or edit a Point</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!point.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="point.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_outletId">Outlet Id</label>
            <input type="number" class="form-control" name="outletId" id="field_outletId"
                [(ngModel)]="point.outletId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_terminalId">Terminal Id</label>
            <input type="number" class="form-control" name="terminalId" id="field_terminalId"
                [(ngModel)]="point.terminalId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_merchantId">Merchant Id</label>
            <input type="number" class="form-control" name="merchantId" id="field_merchantId"
                [(ngModel)]="point.merchantId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="point.userId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_campaignId">Campaign Id</label>
            <input type="number" class="form-control" name="campaignId" id="field_campaignId"
                [(ngModel)]="point.campaignId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_paymentTransaction">Payment Transaction</label>
            <input type="number" class="form-control" name="paymentTransaction" id="field_paymentTransaction"
                [(ngModel)]="point.paymentTransaction" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_paymentType">Payment Type</label>
            <input type="text" class="form-control" name="paymentType" id="field_paymentType"
                [(ngModel)]="point.paymentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="point.amount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_point">Point</label>
            <input type="number" class="form-control" name="point" id="field_point"
                [(ngModel)]="point.point" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_campaign">Campaign</label>
            <select class="form-control" id="field_campaign" name="campaign" [(ngModel)]="point.campaignId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="campaignOption.id" *ngFor="let campaignOption of campaigns; trackBy: trackCampaignById">{{campaignOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
